   <html>
   <body>
  <img id="profileImage" src="data:image/jpg;base64, [your byte array]">
yooo
        <script >


async function yolo(){
while(1){
const da=await fetch('/h/')
const data=await da.json();
console.log(data);
document.getElementById('profileImage').src="data:image/jpg;base64,"+data.picture.imgarray
}}
yolo();
async function yoloo(){
while(1){
const da=await fetch('/h/')
const data=await da.json();
console.log(data);
document.getElementById('profileImage').src="data:image/jpg;base64,"+data.picture.imgarray
}}
yoloo();
async function yolo0(){
while(1){
const da=await fetch('/h/')
const data=await da.json();
console.log(data);
document.getElementById('profileImage').src="data:image/jpg;base64,"+data.picture.imgarray
}}
//yolo0();
async function yolo01(){
while(1){
const da=await fetch('/h/')
const data=await da.json();
console.log(data);
document.getElementById('profileImage').src="data:image/jpg;base64,"+data.picture.imgarray
}}
//yolo01();
</script>
    </body>
</html>
